<div class={{styles.main}}>
    <div class={{styles.conteiner}}>
        <section class={{styles.info}}>
            <h1>Sign Up to </h1>
            <h2>Satan not anonymous messenger</h2>
            <p class={{styles.description}}>
                If you already have an account
                You can <a href="/login">Login here</a> !
            </p>
        </section>
        <form class={{styles.form}}>
            <h2>Sign Up</h2>
            {{{firstName}}}
            {{{secondName}}}
            {{{login}}}
            {{{email}}}
            {{{password}}}
            {{{phone}}}
            {{{contacts}}}
            {{{button}}}
        </form>
    </div>
</div>
