<div class={{styles.conteiner}}>
    <section class={{styles.panel-left}}>
        {{{search}}}
        <ul class={{styles.chat-list}}>
            {{#each contacts}}
                <li>
                    {{{this}}}
                </li>
            {{/each}}
        </ul>
    </section>
    <section class={{styles.chat}}>
        <ul class={{styles.chat-list}}>
            {{#each messages}}
                <li>
                    {{{this}}}
                </li>
            {{/each}}
        </ul>
        {{{message}}}
    </section>
</div>
