<div class={{styles.wrapper}}>
<div class={{styles.tool-bar}} >
    <div class={{styles.logout}}>{{{logout}}}</div>
</div>
<div class={{styles.conteiner}}>
    <section class={{styles.panel-left}}>
        <div>
            {{{addChatInput}}} {{{addChatButton}}}
        </div>
        <ul class={{styles.chat-list}}>
            {{#each contacts}}
                <li>
                    {{{this}}}
                </li>
            {{/each}}
        </ul>
    </section>
    <section class={{styles.chat}}>
        <ul class={{styles.chat-list}}>
            {{#each messages}}
                <li>
                    {{{this}}}
                </li>
            {{/each}}
        </ul>
        {{{message}}}
    </section>
</div>
</div>
