<div class={{styles.main}}>
  <div class={{styles.field-conteiner}}>
    <div title="Изменить аватар" class={{styles.avatar}}>
      {{{avatar}}}
      {{{changeAvatar}}}
    </div>
    <form class={{styles.field-conteiner}}>
      {{{firstName}}}
      {{{secondName}}}
      {{{displayName}}}
      {{{login}}}
      {{{email}}}
      {{{phone}}}
      {{{oldPassword}}}
      {{{newPassword}}}

      {{{save}}}
      {{{cancel}}}
    </form>
  </div>
</div>
