<div class={{styles.main}}>
    <form class={{styles.field-conteiner}}>
        <a href='#' title="Изменить аватар" class={{styles.avatar}}>
            {{{avatar}}}
        </a>
        {{{firstName}}}
        {{{secondName}}}
        {{{displayName}}}
        {{{email}}}
        {{{phone}}}
        {{{oldPassword}}}
        {{{newPassword}}}

        {{{save}}}
        {{{cancel}}}
    </form>
</div>
