<div class={{className}}>
    {{{avatar}}}
    <div class={{styles.message}}>
        <span class={{styles.user}}>{{firstName}} {{lastName}}</span>
        <span class={{messageClass}}>{{content}}</span>
    </div>
</div>
